name: CI/CD Pipeline

on:
  pull_request:
    branches: [ main ]
    types: [opened, synchronize, reopened]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    container:
      image: maven:3.9-eclipse-temurin-21

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set execute permission for mvnw
      run: chmod +x ./mvnw

    - name: Build with Maven
      run: ./mvnw clean package

    - name: Upload JAR artifacts
      uses: actions/upload-artifact@v4
      with:
        name: java-app
        path: target/*.jar
        retention-days: 14